.about{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}
.about .about-title{
  /* width: 30%; */
  position: relative;
}
.about .about-title h1{
  font-size: 80px;
  font-weight: 600;
  /* padding: 0px 0px 0px 400px; */
}
.about-title img{
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
.about .about-section{
  display: flex;
  justify-content: space-between;

  /* gap: 60px; */
  margin-top: 30px;
}

.about-section .about-sectionleft{
  width: 20%;
}
.about-sectionleft img{
  width: 100%;
  border-radius: 20px; 
  border: 3px solid;
}
.about-section .about-sectionright{
  display: flex;
  width: 75%;
  flex-direction: column;
  gap: 40px;
}
.about-sectionright .about-para{
  display: flex;
  font-size: 22px;
  font-weight: 300;
}

.about-skills{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
.about-skills .about-skill{
  display: flex;
  gap: 50px;
  align-items: center;
  /* transition: 0.3s; */
}
.about-skill p{
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}
.about-skill hr{
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #DF8908 -5.09%,  #B415FF 106.28%);
}
.about-acheivements{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}
.about-acheivements .about-acheivement{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.about-acheivement h2{
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 96.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-acheivement p{
  font-size: 22px;
  font-weight: 600;
}
.about-acheivement:hover{
  transform: scale(1.15);
  transition: 0.5s;
}


@media only screen and (max-width:768px){
  .about{
   align-items: start;
   /* gap: 50px; */
   margin-top: 40px;
  }
  .about .about-title h1{
    font-size: 64px;
  }
  .about .about-section{
    flex-direction: column;
  }
  .about-section .about-sectionleft{
     display: none;
  }
  .about-section .about-sectionright{
    width: 90%;
    gap: 50px;
  }
  .about-acheivements .about-acheivement{
    align-items: start;
  }
  .about-acheivement h2{
    font-size: 32px;
    font-weight: 400;
  }
  .about-acheivement p{
    font-size: 16px;
    font-weight: 400;
  }
}

@media only screen and (max-width:480px){
  .about .about-title h1{
    font-size: 32px;
  }
  .about .about-title img{
  width: 100%;
  }
  .about-sectionright .about-para{
    font-size: 16px;
    /* text-align: justify;     */
  }
   .about-skills .about-skill{
    flex-direction: column;
    gap: 20px;
    align-items: start; 
  }
  .about-skill hr{
    width: 100%;
    height: 6px;
  }
  .about-acheivements{
   flex-direction: column;
  }
  .about-acheivements .about-acheivement{
    border-bottom: 1px solid  ;
    padding: 20px 0px;
  }
}