.contact{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
  
}
.contact .contact-title{
  position: relative;
}
.contact .contact-title h2{
  font-size: 48px;
  font-weight: 700;
}
.contact .contact-title img{
  position: absolute;
  right: 0;bottom: 0;
  z-index: -1;
}
.contact-section{
  display: flex;
  /* gap: 150px; */
  justify-content: space-between;
}
.contact-left{
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 30px;
}
.contact-left h2{
  font-size: 64px;
  background: linear-gradient(270deg, #DF9808 80%, #B415FF 100%);
  background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.contact-left p{
  width: 80%;
  font-size: 20px;
  line-height: 35px;
}
.contact-details{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 22px;
  color: #D8D8D8;
}
.contact-detail{
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 55%;
}
.contact-right label{
  color: #D8D8D8;
  font-size: 22px;
  font-weight: 500;
}
.contact-right input{
  border: none;
  width: 100%;
  height: 78px;
  border-radius: 4px;
  padding-left: 20px;
  background-color: #32323c;
  color: #A0A0A0;
  font-family: outfit;
  font-size: 20px;
}
.contact-right textarea{
  width: 100%;
  border: none;
  padding: 25px;
  background-color: #32323c;
  color: #A0A0A0;
  font-size: 20px;
  resize: none;
  font-family: outfit;
}
.contact-right .contact-submit{
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 50px;
  padding: 15px 60px;
  background: linear-gradient(264deg, #DF9808 -5.09%, #B415FF 106.08%);
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 22px;
}
.contact-right .contact-submit:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

@media only screen and (max-width:992px){
  .contact-left p{
    font-size: 18px;
  }
  .contact-left h2{
    font-size: 40px;
  }
  .contact-left{
    width: 43%;
  }
  .contact-right{
    width: 52%;
  }
}
@media only screen and (max-width:768px){
  .contact-section{
    flex-direction: column;
    gap: 40px;
  }
  .contact-left{
    width: 100%;
    /* padding: 20px; */
  }
  .contact-right{
    width: 100%;
    /* padding: 20px; */
  }
  .contact .contact-title h2{
    font-size: 32px;
  }
  .contact-title img{
    width: 100px;
  }
}

