.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}
.navbar h1{
  background: linear-gradient(270deg, #DA7C25 10%, #B923E1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img{
  display: flex;
  margin: auto;
}
.nav-connect{
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%,  #B923E1 102.06%);
  cursor: pointer;
  font-size: 22px;
  transition: 0.5s;
}
.nav-connect:hover{
  transform: scale(1.05);
}
.anchor-link{
  color: #fff;
  text-decoration: none;
}
.nav-mob-close,.nav-mob-open{
  display: none;
}
@media only screen and (max-width:1200px){
 
  .nav-menu{
    gap: 30px;
  }
  .nav-connect{
    padding: 5px;
  }
}
@media only screen and (max-width:992px){
  .nav-connect{
    display: none;
  }
}

@media only screen and (max-width:768px){
  .navbar{
    width: 95%;
  }
  .nav-connect{
    display: none;
  }
  .nav-mob-open{
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close{
    position: relative;
    display: block;
    top: 30px;
    left: 290px;
    width: 30px;
  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
  .nav-menu li{
    font-size: 30px;
    flex-direction: row;
    padding-left: 100px;
    gap: 20px;
  }

}